<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".SideDraweWithBottomNav"
            android:exported="false"
            android:theme="@style/Theme.Android_advanced_phase" />
        <activity
            android:name=".DropdownAcitvityInfo"
            android:exported="false"
            android:theme="@style/Theme.Android_advanced_phase" />
        <activity
            android:name=".ThreadsWithMultiThreads"
            android:exported="false"
            android:theme="@style/Theme.Android_advanced_phase" />
        <activity
            android:name=".RoomDatabase"
            android:exported="false" />
        <activity
            android:name=".ApiAndModelWithRetrofit"
            android:exported="false" />
        <activity
            android:name=".FirebaseChatActivity"
            android:exported="false" />
        <activity
            android:name=".SqliteActivity"
            android:exported="false"
            android:theme="@style/Theme.Android_advanced_phase" />
        <activity
            android:name=".SharepreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".ExpandableListViewActivity"
            android:exported="false"
            android:theme="@style/Theme.Android_advanced_phase" />
        <activity
            android:name=".AutocompleteActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsMenuActivity"
            android:exported="false" />
        <activity
            android:name=".FeedBackMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ShareMenuActivity"
            android:exported="false" />
        <activity
            android:name=".AudioPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".MediaPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".FullscreenActivity"
            android:exported="false" />
        <activity
            android:name=".Progressbarinfo"
            android:exported="false" />
        <activity
            android:name=".SpinnerInfo"
            android:exported="false" />
        <activity
            android:name=".MenuViewInfo"
            android:exported="false" />
        <activity
            android:name=".SearchViewInfo"
            android:exported="false" />
        <activity
            android:name=".GridViewInfo"
            android:exported="false" />
        <activity
            android:name=".ListViewInfo"
            android:exported="false" />
        <activity
            android:name=".ActivityResult"
            android:exported="false" />
        <activity
            android:name=".ActivitySendDataToAnother"
            android:exported="false" />
        <activity
            android:name=".ActivityLIfecycle"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>